*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/app/google-service-account.json
/vendor
/chainbook-6d9e3ca12592.json
Homestead.json
Homestead.yaml
Thumbs.db
*.json filter:lfs diff:lfs merge:lfs -text
chainbook-f41a997ac2b1.json
